$padding_null: 0px;
$padding_hlf: 8px;
$padding_std: 16px;
$padding_dbl: 32px;

$color_green: rgb(67, 187, 129);
$color_green_light: rgb(147, 226, 152);
$color_green_dark: rgb(1, 161, 109);


$font_open_sans: 'Open Sans', sans-serif;
$font_oswald: 'Oswald', sans-serif;
$font_roboto_condensed: 'Roboto Condensed', sans-serif;
$font_roboto_slab: 'Roboto Slab', serif;

// font-family: 'Open Sans', sans-serif;
// font-family: 'Oswald', sans-serif;
// font-family: 'Roboto Condensed', sans-serif;
// font-family: 'Roboto Slab', serif;
