@import "base";

* {
      box-sizing: border-box;
}

body {
      margin: 0px;
      font-family: $font_open_sans;
}

h1, h2, h3, h4, h5, h6 {
      margin: 0px;
      font-family: $font_roboto_slab;
}

.container {
      height: 100%;
      display: flex;
      // justify-content: stretch;
      align-items: stretch;
      // align-items: flex-stretch;
}
