$padding_null: 0px;
$padding_std: 16px;
$padding_dbl: 32px;
$padding_hlf: 8px;

$color_blue: #a9bfe4;
$color_blue-light: #f5f5f5;
$color_sand: #ffc2c7;
$color_dark: #3c5d7a;

$color_rose: #f867d3;
$color_rose-deep: #ef10b4;
$color_rose-light: #f684db;

$font_lora: 'Lora', serif;
$font_sans: 'Source Sans Pro', sans-serif;
$font_roboto-slab: 'Roboto Slab', serif;

$navbar_height: 90px;
$userbar_height: 80px;
$icon_height: 32px;
